{
	"token": "[bot user token]",

	"identifier": "!$",

	"midi_folder": "/srv/code/discord-midi-bot/midi/",
	"soundfont_folder": "/srv/code/discord-midi-bot/sf2/",
	"default_soundfont": "TimbresOfHeaven3.4.sf2",
	"presets_folder": "/srv/code/discord-midi-bot/presets/",

	"default_voice_channel": {
		"252014855798652928": "252046706819072000"
	},

	"mod_role": "MIDI Bot Manager",

	"owner_id": "[your client ID]",

	"max_midi_size": 5242880,

	"max_multiline_length": 5
}